<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Branding on left side-->
  <a class="navbar-brand">Welcome <strong>{{ this.cUser }}</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Main Nav panel -->
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLink="login">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main Body -->
<div class="container h-100" style="max-width: 1920px; padding: 0px; margin-left: auto; margin-right: auto">
  <div class="row" style="width: 100%">
      <!-- Groups -->
      <div class="col-lg-6" style="padding:0px">

        <!-- Groups Section -->
        <div class="card mb-3">
          <h3 class="card-header" style="text-align:center">Groups</h3>
          <div class="card-body" style="height: 400px; overflow-y:hidden">

            <!-- New Group Form -->
            <div class="form-inline" *ngIf="this.user.permissions >=1">
              <form (submit)="createGroup($event)">
                <input class="form-control" name="newGroupName" style="width:calc(100% - 100px)" placeholder="New Group" type="text" [(ngModel)]="newGroupName">
                <button class="btn btn-primary" style="width:100px">Create</button>
              </form>
            </div>
            
            <!-- List of Groups -->
            <div class="form-inline" *ngFor="let mygroup of myGroups" style="margin:2px">
                <button type="button" *ngIf="this.user.permissions == 0" (click)="openGroup(mygroup.name)" class="btn btn-outline-success col-lg-8">{{ mygroup.name }}</button>
                <button type="button" *ngIf="this.user.permissions >= 1" (click)="openGroup(mygroup.name)" class="btn btn-outline-primary col-lg-6">{{ mygroup.name }}</button>
                <button type="button" class="btn btn-danger col-lg-4" (click)="deleteGroup(mygroup.name)" *ngIf="this.user.permissions >= 1"><strong>Delete Group</strong></button>
            </div>
          </div>
        </div>        
      </div>

      <!-- Channels Column -->
      <div class="col-lg-6" style="padding:0px">
        <div class="card mb-3">
          <h3 class="card-header" style="text-align:center">Channels</h3>
          <div class="card-body" style="height: 400px; overflow-y:hidden">

            <!-- New Channel Form -->
            <div class="form-inline" >
              <form (submit)="createChannel($event)">
              <input class="form-control" name="newChannelName" style="width:calc(100% - 100px)" placeholder="New Channel" type="text" [(ngModel)]="newGroupName">
              <button class="btn btn-primary" style="width:100px">Create</button>
              </form>
            </div>

            <!-- List of Channels -->
            <app-channels [myChannels]=myChannels [group]=selectedGroup (channelChanged)="channelChangedHandler($event)"></app-channels>
          </div>
        </div> 
      </div>


      <!-- Chat Column -->
      <div class="col-lg-8" style="padding:0px">
        <app-chat [channel]=selectedChannel></app-chat>
      </div>
    </div>
</div>