#homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#homepage:hover {
    color: #66A5AD;
}

#welcome, #welcome-msg, #div, a {
    color: #003B46;
    text-align: center;
}

h1:hover, #welcome-msg:hover {
    color: #66A5AD;
}

a:hover {
    color: #66A5AD;
}
