<div id="login">
  <h1>
    Enter your username & email
  </h1>
  <br/>
  <form id="formS" (submit)="loginUser($event)">
    <input [(ngModel)]="user" type="text" placeholder="Username" id="user" name="user" class="form-control">
    <br/>
    <input [(ngModel)]="email" type="email" placeholder="Email"  id="email" name="email" class="form-control">
    <br/>
    <button type="submit" class="btn btn-info btn-lg">Enter Chat</button>
  </form>
    <br/>
  <div>
    <button (click)="register()" class="btn btn-info btn-lg">Register</button>
  </div>
  <br/>
</div>