<div id="login">
  <h1>
    Enter your username and password
  </h1>

  <form (submit)="loginUser($event)">
    <input [(ngModel)]="user" type="text" placeholder="Username" id="user" name="user" class="form-control">
    <br/>
    <input [(ngModel)]="email" type="email" placeholder="Email"  id="email" name="email" class="form-control">
    <br/>
    <button type="submit" class="btn btn-primary">Enter Chat</button>
  </form>
    <br/>
  <button (click)="retrieveUsers()">Get users</button>
  <div *ngFor="let user of userService.getUsers()">
    <app-user-item [user]="user"></app-user-item>
  </div>
    <br/>
  <div>
    <button (click)="register()" class="btn btn-primary">Register</button>
  </div>
</div>